<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <test verbose="2" preserve-order="true" name="TestGC">
        <parameter name="browser" value="GC"/>
        <classes>
            <class name="scripts.ValidLogin"/>
            <class name="scripts.InvalidLogin"/>
            <class name="scripts.BlankLogin"/>
            <class name="scripts.AddCustomer"/>
        </classes>
    </test>
    <test name="TestFF" preserve-order="true">
        <parameter name="browser" value="FF"/>
        <classes>
            <class name="scripts.ValidLogin"/>
            <class name="scripts.InvalidLogin"/>
            <class name="scripts.BlankLogin"/>
            <class name="scripts.AddCustomer"/>
        </classes>
    </test>
</suite>